{% extends 'layout.html' %}
{% load static %}

{% block title %}David Soluciones{% endblock title %}

{% block body %}
  <header class="masthead" style="background-image: url('{%static 'img/home.jpg' %}');">
    <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
            </div>
          </div>
        </div>
      </div>
  </header>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Somos una empresa orgullosamente mexicana</h2>
      </div>
      <div class="col-12">
        <p class="text-center">David Soluciones es una empresa dedicada al desarrollo de software, creando las soluciones que necesitas para potencias tu negocio.</p>
      </div>

    </div>
  </div>
</section>
{% endblock body %}
